<h3>Recent ratings</h3>

    <table class="table table-hover">
      <thead>
      <tr>
        <th>Score</th>
        <th>Rater</th>
      </tr>
      </thead>

      <tbody>
      <% ratings.each do |rating| %>
          <tr>
            <td><%= rating %></td>
            <td><%= link_to rating.user.username, user_path(rating.user) %></td>
            <td></td>
          </tr>
      <% end %>
      </tbody>
    </table>