<h1>Listing Ratings</h1>
<p> Number of ratings: <%= @ratings.count %> </p>
<ul>
  <% @ratings.each do |rating| %>
      <li> <%= rating %> <%= link_to rating.user.username, user_path(rating.user) %> </li>
  <% end %>
</ul>
<p>
  <%= link_to 'New rating', new_rating_path %>
</p>