<h2>Breweries</h2>
<% cache "brewerylist-#{@order}", skip_digest: true do %>
    <table id="brewerytable" class="table table-hover">
      <tr>
        <th><a href="#" id="name">Name</a></th>
        <th><a href="#" id="year">Year</a></th>
        <th><a href="#" id="beercount">Beers count</a></th>
      </tr>
    </table>
<% end %>